body {
    background-color: #a9a6b8; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace; 
}

.container {
    background-color: #f7f7f7; 
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

input[type="text"], 
.age-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
}


.age-input {
    width: calc(100% - 16px);
}


.checkbox-group {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    max-height: 100px;
    overflow-y: auto; 
}

.checkbox-group label {
    display: flex; 
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
}


.radio-label {
    margin-bottom: 5px;
}
.radio-group {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}

.radio-group label {
    display: inline-block;
    margin-right: 15px;
}


.file-input-display {
    display: flex;
    border: 1px solid #ccc;
    background-color: white;
}

.hidden-file-input {

    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-button {
    background-color: #e0e0e0;
    color: #333;
    padding: 8px 10px;
    cursor: pointer;
    border-right: 1px solid #ccc;
}

.file-name {
    padding: 8px 10px;
    flex-grow: 1; 
    color: #555;
}


.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    color: white;
}

.primary {
    background-color: #007bff; 
}

.secondary {
    background-color: #dc3545; 
}